/* Import base styles */
@import url('base.css');

/* Page-specific styles */
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../blog22.png);
}

.button{
	top: 90%;
}

.title1{
	top: 70%;
}

.title2{
	float: center;
	text-decoration: none;
	color: #fff;
	padding: 5px 20px;
	border: 1px solid transparent;
	transition: 0.6s ease;
}
