/* Import base styles */
@import url('base.css');

/* Page-specific styles */
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../credits.png);
	background-size: contain;
}

.button{
	top: 90%;
}

.title1{
	top: 50%;
}

.button1{
	top: 60%;
}

