/* Import base styles */
@import url('base.css');

/* Page-specific styles */
header{
	background-image:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(../ARTIFICIAL-INTELLIGENCE.jpeg);
}

.button{
	top: 90%;
}

.title1{
	top: 70%;
}

.iframe{
	position: absolute;
	top: 15%;
	left: 72%;
}

.headd{
	position: center;
	top: 50%;
	left: 20%;
}
